[files]
extend-exclude = [
  "data/initial_stake_table.toml",
  ".env",
  "*.json",
  "**/*.pdf",
  "doc/*.svg",
  "doc/*.puml",
  "**/*.drawio",
  "contracts/lib",
  "contracts/rust/adapter/src/bindings",
  "node-metrics/src/api/node_validator/v0/example_prometheus_metrics_output.txt",
  "crates/hotshot/orchestrator/run-config.toml",
  "crates/hotshot/macros/src/lib.rs",
  "staking-cli/tests/cli.rs",
]
